body {
    margin: 0;
    background: url("../img/pattern.png");

     font-family: Georgia;
     line-height: 1.5;
     font-size: 20px;
}

.section {
    padding-top: 3rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;

}

.container {
    margin: 0 auto;
    padding: auto;
    position: relative;
    box-sizing: inherit;
      
}

.columns { 
    display: flex;
    margin: 0 auto;
    padding: auto;
    position: relative;
    box-sizing: border-box;
}


.column {
   
   flex-grow: 1;
   scroll-padding: 50;
   box-sizing: border-box;
  
}

.textClass {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
    width: 550px;
    height: 350px;
    font-size: 1rem;
}

.salePayment {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.button {
    color: #fff;
    text-align: center;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-webkit-text-size-adjust: 100%;
font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1rem;
color: #3273dc;
cursor: pointer;
text-decoration:initial;
width: 100%;
}
/*<div>
<h1 class=card-title></h1>
<div class="card-text">
    <script src="js/newcode.js">  </script>
  <input value="Нажми меня" onclick="alert('Клик!')" type="button">

</div>

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-box-sizing: inherit;
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
    background-color: #00d1b2;
    width: 100%;

        -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: inherit;