body {
    margin: 0;
    background: url("../img/pattern.png");

     font-family: Georgia;
     line-height: 1.5;
     font-size: 20px;
}

.section {
    padding-top: 3rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;

}

.container {
    margin: 0 auto;
    padding: auto;
    position: relative;
    box-sizing: inherit;
      
}

.columns { 
    display: flex;
    margin: 0 auto;
    padding: auto;
    position: relative;
    box-sizing: border-box;
}


.column {
   
   flex-grow: 1;
   scroll-padding: 50;
   box-sizing: border-box;
  
}

.textClass {
    
    width: 350px;
    height: 350px;
}

.salePayment {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.button.is-primary {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    text-align: center;
}

/*<div>
<h1 class=card-title></h1>
<div class="card-text">
    <script src="js/newcode.js">  </script>
  <input value="Нажми меня" onclick="alert('Клик!')" type="button">

</div>